asn1crypto==0.24.0
bokeh==1.0.3
boto==2.49.0
boto3==1.9.66
botocore==1.12.67
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.2
docutils==0.14
gensim==3.5.0
hdbscan==0.8.18
idna==2.8
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.2.6
MarkupSafe==1.1.0
matplotlib==3.0.2
mkl-fft
mkl-random
morph==0.1.4
nltk==3.4
numpy==1.15.4
olefile==0.46
packaging==18.0
pandas==0.23.4
Pillow==5.3.0
#pubmed-parser==0.2.1
git+https://github.com/titipata/pubmed_parser.git
pyclustering==0.8.2
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.21.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.1.0
six==1.12.0
smart-open==1.7.1
tabulate==0.8.2
tornado==5.1.1
tqdm==4.28.1
Unidecode==1.0.23
urllib3==1.26.5
win-inet-pton==1.0.1
wincertstore==0.2
yellowbrick==0.9